.popular {
  position: relative;
  width: 100%;
  padding: 40px 0;
  display: flex;
  overflow: hidden;
  align-items: center;
}

.left-arrow,
.right-arrow {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 50%;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 10;
  background: #f9f9f9;
  box-shadow: 0px 0px 4px #111111;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-arrow {
  left: 15px;
}
.right-arrow {
  right: 15px;
}

.left-arrow img,
.right-arrow img {
  width: 20px;
  height: 20px;
}

.product-list {
  width: 100%;
  overflow: hidden;
}

.product-list > div,
.product {
  flex-shrink: 0;
}

.product-list {
  display: flex;
}

.product {
  min-width: 350px;
  margin: 0 10px;
  border-radius: 8px;
  background: #f9f9f9;
  overflow: hidden;
}

.product-img {
  position: relative;
  width: 100%;
  height: 260px;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img img {
  width: 90%;
}

.num {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #111111;
  color: #f9f9f9;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 6px;
}

.shoe {
  font-size: 20px;
  font-weight: bold;
  padding: 16px 20px 0 20px;
}

.color {
  font-size: 15px;
  padding: 0 20px 0 20px;
  color: #a09891;
}

.sale_price {
  font-size: 20px;
  font-weight: 600;
  padding: 12px 20px 0 20px;
}

.price {
  font-size: 18px;
  padding-left: 20px;
  text-decoration: line-through;
  color: #a09891;
}

.order-size {
  padding: 12px 20px 0 20px;
  color: #5b5b5b;
}

.size-boxes {
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.size {
  border: 1px solid #d5d0c9;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
}
