.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1000;
  border-bottom: 1px solid #eee;
}
header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.logo {
  background: none;
  border: none;
  padding: 0;
  outline: none;
}

.logo:focus {
  outline: none;
}

.logo img {
  height: 36px;
  display: block;
  cursor: pointer;
  margin-left: 0;
}

.header-menu ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.header-menu li {
  position: relative;
}

.header-menu li a {
  color: #111;
  font-size: 15px;
}
.header-menu {
  flex: none;
  margin: 0 auto;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mega-dropdown {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  background: #fff;

  opacity: 0;
  visibility: hidden;

  padding: 40px 0;
  border-bottom: 1px solid #eee;

  transition: opacity 0.25s ease;
  z-index: 999;
}

.mega-parent:hover > .mega-dropdown {
  opacity: 1;
  visibility: visible;
}

.mega-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  gap: 120px;
  padding: 0 40px;
}

.mega-column {
  position: relative;
  padding-left: 20px;
}

.mega-column::before {
  content: "";
  position: absolute;
  left: 0;
  top: 45px;
  width: 1px;
  height: calc(100% - 45px);
  background: #ccc;
}

.mega-column h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600;
}

.mega-column ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mega-column ul li {
  margin-bottom: 0;
}

.mega-column ul li a {
  font-size: 15px;
  color: #555;
  transition: color 0.2s;
}

.mega-column ul li a:hover {
  color: #000;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-icons button {
  background: none;
  border: none;
  cursor: pointer;
}

.header-icons img {
  width: 20px;
  height: 20px;
}
