.header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  border-bottom: 1px solid #f9f9f9;
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo img {
  height: 28px;
  cursor: pointer;
}

.header-menu {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-menu ul {
  display: flex;
  gap: 50px;
}

.header-menu li a {
  color: #111111;
  transition: color 0.3s ease;
}

.header-menu:hover li a {
  color: gray;
}

.header-menu li:hover a {
  color: #111111;
}

.header-image {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: -60px;
}

.header-image button {
  background: none;
  border: none;
  cursor: pointer;
}

.header-image img {
  width: 22px;
  height: 22px;
  opacity: 0.9;
  transition: opacity 0.2s;
}

.header-image img:hover {
  opacity: 1;
}

.header-menu ul li {
  position: relative;
}

.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: fixed;
  background: #f9f9f9;
  gap: 80px;
  top: 60px;
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding: 40px 60px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.dropdown > li {
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown > li > a {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 6px;
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown ul li a {
  font-size: 16px;
  color: #d2c8be;
}

.header-menu ul li:hover > .dropdown {
  display: flex;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown > li ul {
  border-left: 1.5px solid #e9e6df;
  padding-left: 20px;
  line-height: 2.2em;
  text-align: left;
  padding-top: 4px;
  margin-top: 0;
}
