.popular {
  position: relative;
  width: 100%;
  padding: 40px 56px;
  display: flex;
  flex-direction: column;
  margin: 0 0 24px;
  gap: 16px;
}

.popular h2 {
  margin: 0 0 16px;
  text-align: left;
}

.left-arrow,
.right-arrow {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 50%;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 10;
  background: #f9f9f9;
  box-shadow: 0px 0px 4px gray;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-arrow {
  left: 15px;
}
.right-arrow {
  right: 15px;
}

.left-arrow img,
.right-arrow img {
  width: 20px;
  height: 20px;
}

.product-list {
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.product-track {
  display: flex;
  gap: 24px;
  flex-wrap: nowrap;
  width: max-content;
}

.product {
  flex: 0 0 300px;
  border-radius: 10px;
  background: #f9f9f9;
  overflow: hidden;
  text-align: left;
}

.product-img {
  position: relative;
  width: 100%;
  height: 200px;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img img {
  width: 85%;
}

.num {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 36px;
  height: 36px;
  background: #111111;
  color: #f9f9f9;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.shoe {
  font-size: 18px;
  font-weight: bold;
  padding: 16px 20px 0 20px;
}

.color {
  font-size: 14px;
  padding: 0 20px 0 20px;
  color: #a09891;
}

.sale_price {
  font-size: 20px;
  font-weight: 700;
  padding: 12px 20px 0 20px;
}

.price {
  font-size: 16px;
  padding-left: 20px;
  text-decoration: line-through;
  color: #a09891;
}

.order-size {
  padding: 12px 20px 0 20px;
  color: #5b5b5b;
  font-size: 14px;
}

.size-boxes {
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.size {
  border: 1px solid #d5d0c9;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
}

.left-arrow:disabled,
.right-arrow:disabled {
  opacity: 0.35;
  cursor: not-allowed;
  box-shadow: none;
}
